.banner {
    height: 26rem;
    width: 100%;
    background-color: rgba(248, 74, 95, 0.83);
    align-content: center;
    overflow: auto;
}

.banner p {
    color: white;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
    font-size: 1.75rem;
    line-height: 2rem;
    max-height: 26rem;
}
